[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "==1.5.0"
torchvision = "==0.6.0"
numpy = "*"
pyyaml = "*"
scipy = "*"
cython = "*"
pycocotools = "*"
matplotlib = "*"

[requires]
python_version = "3.6"
